<div>
	<i>Renders a react component in components folder</i>

	<%= react_component('App') %>
</div>

<div>
	<i>Renders a react component in a folder inside components folder</i>

	<%= react_component('folder/Apps', {name: 'User'}) %>
</div>

<div>
	<i>Renders a  react component in packs folder</i>

	<%= javascript_pack_tag 'hello_react' %>
</div>
